@use "sass:map";
@use "sass:list";
@use '../themes/_theme-global.scss' as *;
@use '../themes/_theme-caracs.scss' as *;
@use '../themes/_theme-entities.scss' as *;
@use '../utils/_functions.scss' as *;

$background-intensity: (
  'xs': 50%,
  'sm': 60%,
  'md': 70%,
  'lg': 80%,
  'xl': 90%
);

@mixin backgroundIntensity($size) {
  $intensity: map.get($background-intensity, $size);
  @if $intensity {
    background-color: color-mix(in srgb, var(--bg-color) #{$intensity}, transparent);
  }
}

