// Système DRY pour les glass box : border glass + backdrop glass + border-radius
@use "./_border.scss" as *;
@use "./_backdrop.scss" as *;
@use "./_background.scss" as *;
@use "../utils/_functions.scss" as *;
// === Box-glass colorées pour tous les thèmes ===
@use '../themes/_theme-global.scss' as *;
@use '../themes/_theme-caracs.scss' as *;
@use '../themes/_theme-entities.scss' as *;
@use 'sass:list';

$box-sizes: (xs, sm, md, lg, xl);

@mixin box-glass($size, $combo: null, $sides: null) {
  @if $combo == null {
    @extend .border-glass-#{$size};
  } @else {
    @extend .border-glass-#{$combo}-#{$size}; 
  }
  @extend .bd-glass-#{$size};

  // Box-shadow
  $box-shadow: ();
  @if $sides == null {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  } @else {
    @each $side in $sides {
      @if $side == l {
        $box-shadow: list.append($box-shadow, -1px 0 0 rgba(0, 0, 0, 0.1), comma);
      } @else if $side == r {
        $box-shadow: list.append($box-shadow, 1px 0 0 rgba(0, 0, 0, 0.1), comma);
      } @else if $side == t {
        $box-shadow: list.append($box-shadow, 0 -1px 0 rgba(0, 0, 0, 0.1), comma);
      } @else if $side == b {
        $box-shadow: list.append($box-shadow, 0 1px 0 rgba(0, 0, 0, 0.1), comma);
      }
    }
    $box-shadow: filter-list($box-shadow);
    $box-shadow-str: '';
    @for $i from 1 through list.length($box-shadow) {
      $box-shadow-str: $box-shadow-str + list.nth($box-shadow, $i);
      @if $i < list.length($box-shadow) {
        $box-shadow-str: $box-shadow-str + ', ';
      }
    }
    @if list.length($box-shadow) > 0 {
      box-shadow: #{$box-shadow-str};
    }
  }
}

.box {
  --color: var(--color-white); // Couleur par défaut
  --bg-color: var(--color-neutral-950);

  @each $size in $box-sizes {
    &-glass-#{$size} {
      @include box-glass($size);
    }

    @each $combo, $sides in $border-glass-combos {
      &-glass-#{$combo}-#{$size} {
        @include box-glass($size, $combo, $sides);
        @include backgroundIntensity($size);
      }
    }

    &-dash-#{$size} {
      @include backgroundIntensity($size);
      border: 1px dashed color-mix(in srgb, var(--color) 80%, transparent);
      @include bd-blur($size);
    }

    &-outline-#{$size} {
      @include backgroundIntensity($size);
      @extend .border-glass-#{$size};
      @include bd-blur($size);
    }

    &-soft-#{$size} {
      @include backgroundIntensity($size);
      border: 1px solid color-mix(in srgb, var(--color) 60%, transparent);
      @include bd-blur($size);
    }

    &-ghost-#{$size} {
      @include backgroundIntensity($size);
      @include bd-blur($size);
    }
  }
}
