@use '../themes/_theme-global.scss' as *;
@use '../themes/_theme-entities.scss' as *;
// theme-caracs : couleurs des caractéristiques générées depuis la BDD (public/css/characteristic-colors.css)

$intensities: (
    50: 50,
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900,
    950: 950,
);

@mixin colorTheme($theme-map) {
    @each $intensity, $value in $intensities {
        @each $name, $color in $theme-map {
            @if $intensity == 500 {
                .color-#{$name} {
                    --color: var(--color-#{$name}-#{$value});
                }
            } @else if $intensity == 950 {
                .bg-color-#{$name} {
                    --bg-color: var(--color-#{$name}-#{$value});
                }
            } @else {
                .color-#{$name}-#{$intensity} {
                    --color: var(--color-#{$name}-#{$value});
                }
                .bg-color-#{$name}-#{$intensity} {
                    --bg-color: var(--color-#{$name}-#{$value});
                }
            }
        }
    }
}

@include colorTheme($theme-global);
@include colorTheme($theme-entities);