// Système DRY pour les glass box : border glass + backdrop glass + border-radius
@use "./_border.scss" as *;
@use "./_backdrop.scss" as *;
@use "../utils/_functions.scss" as *;
// === Box-glass colorées pour tous les thèmes ===
@use '../themes/_theme-global.scss' as *;
@use '../themes/_theme-caracs.scss' as *;
@use '../themes/_theme-entities.scss' as *;
@use 'sass:list';

$glass-box-sizes: (xs, sm, md, lg, xl);

@mixin box-glass($size, $combo: null, $sides: null) {
  @if $combo == null {
    @extend .border-glass-#{$size};
  } @else {
    @extend .border-glass-#{$combo}-#{$size};
  }
  @extend .bd-glass-#{$size};

  // Box-shadow
  $box-shadow: ();
  @if $sides == null {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  } @else {
    @each $side in $sides {
      @if $side == l {
        $box-shadow: list.append($box-shadow, -1px 0 0 rgba(0, 0, 0, 0.1), comma);
      } @else if $side == r {
        $box-shadow: list.append($box-shadow, 1px 0 0 rgba(0, 0, 0, 0.1), comma);
      } @else if $side == t {
        $box-shadow: list.append($box-shadow, 0 -1px 0 rgba(0, 0, 0, 0.1), comma);
      } @else if $side == b {
        $box-shadow: list.append($box-shadow, 0 1px 0 rgba(0, 0, 0, 0.1), comma);
      }
    }
    $box-shadow: filter-list($box-shadow);
    $box-shadow-str: '';
    @for $i from 1 through list.length($box-shadow) {
      $box-shadow-str: $box-shadow-str + list.nth($box-shadow, $i);
      @if $i < list.length($box-shadow) {
        $box-shadow-str: $box-shadow-str + ', ';
      }
    }
    @if list.length($box-shadow) > 0 {
      box-shadow: #{$box-shadow-str};
    }
  }
}

@each $size in $glass-box-sizes {
  .box-glass-#{$size} {
    --color: var(--color-white); // Couleur par défaut
    @include box-glass($size);
  }
}
// Version sans thème, directionnelle
@each $size in $glass-box-sizes {
  @each $combo, $sides in $border-glass-combos {
    .box-glass-#{$combo}-#{$size} {
      --color: var(--color-white); // Couleur par défaut
      @include box-glass($size, $combo, $sides);
    }
  }
}