.bd-blur-none {
    backdrop-filter: none;
}

$blur-sizes: (
    'xs': 4,
    'sm': 8,
    'md': 12,
    'lg': 16,
    'xl': 20,
    '2xl': 24,
    '3xl': 28,
    '4xl': 32
);

@each $size, $value in $blur-sizes {
    .bd-blur-#{$size} {
        backdrop-filter: blur(#{$value}px);
    }
}

.bd-opacity-none {
    opacity: 0;
}

.bd-opacity-full {
    opacity: 1;
}

$opacity-sizes: (
    'xs': 0.2,
    'sm': 0.3,
    'md': 0.4,
    'lg': 0.5,
    'xl': 0.6,
    '2xl': 0.7,
    '3xl': 0.8,
    '4xl': 0.9
);

@each $size, $value in $opacity-sizes {
    .bd-opacity-#{$size} {
        opacity: #{$value};
    }
}
