* {
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
}

.typography {
    font-size: var(--text-base);
    color: var(--color-gray-700);
    font-family: "Albert Sans", sans-serif;
}

.Albert-Sans {
    font-family: "Albert Sans", sans-serif;

    &-thin,
    &-100 {
        font-weight: 100;
    }
    &-light,
    &-300 {
        font-weight: 300;
    }
    &-regular,
    &-400 {
        font-weight: 400;
    }
    &-bold,
    &-700 {
        font-weight: 700;
    }
    &-black,
    &-900 {
        font-weight: 900;
    }
}

// Relatif à tailwindcss plugin typography
.prose {
    max-width: 100ch;
}


$text-shadows: (
    'xs': (0 1px 2px rgba(0, 0, 0, 0.05)),
    'sm': (0 1px 3px rgba(0, 0, 0, 0.08)),
    'md': (0 2px 4px rgba(0, 0, 0, 0.1)),
    'lg': (0 2px 4px rgba(0, 0, 0, 0.2)),
    'xl': (0 4px 6px rgba(0, 0, 0, 0.25)),
    '2xl': (0 6px 8px rgba(0, 0, 0, 0.3)),
    '3xl': (0 8px 12px rgba(0, 0, 0, 0.35)),
    '4xl': (0 12px 16px rgba(0, 0, 0, 0.4))
);

@each $size, $shadow in $text-shadows {
    .text-shadow-#{$size} {
        text-shadow: $shadow;
    }
}
