* {
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
}

.typography {
    font-size: var(--text-base);
    color: var(--color-gray-700);
    font-family: "Albert Sans", sans-serif;
}

.Albert-Sans {
    font-family: "Albert Sans", sans-serif;

    &-thin,
    &-100 {
        font-weight: 100;
    }
    &-light,
    &-300 {
        font-weight: 300;
    }
    &-regular,
    &-400 {
        font-weight: 400;
    }
    &-bold,
    &-700 {
        font-weight: 700;
    }
    &-black,
    &-900 {
        font-weight: 900;
    }
}

// Relatif à tailwindcss plugin typography
.prose {
    max-width: 100ch;
}
