$ref-colors: (
    "neutral",
    "primary",
    "secondary",
    "base",
    "accent",
    "success",
    "error",
    "info",
    "warning",
    "attribute",
    "campaign",
    "capitalize",
    "classe",
    "condition",
    "consumable",
    "creature",
    "item",
    "mob",
    "npc",
    "resource",
    "scenario",
    "shop",
    "specialization",
    "spell",
    "user",
    "page",
    "section",
    "force",
    "strong",
    "terre",
    "intel",
    "feu",
    "agi",
    "air",
    "chance",
    "eau",
    "vitality",
    "sagesse",
    "life",
    "level",
    "master_bonus",
    "time_before_use_again",
    "casting_time",
    "dodge_pa",
    "dodge_pm",
    "po",
    "po-editable",
    "pa",
    "pm",
    "cc",
    "res_cc",
    "cast-per-turn",
    "cast-per-target",
    "sight-line",
    "number-between-two-cast",
    "ini",
    "invocation",
    "touch",
    "actif",
    "twohands",
    "kamas",
    "ca",
    "fuite",
    "tacle",
    "neutre",
    "shield",
    "mastery",
    "expertise",
    "res-neutre",
    "res-terre",
    "res-air",
    "res-feu",
    "res-eau"
);

$ref-props: ("bg", "text", "border");
$weights: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950;

$safelist: ""; // Initialisation d'une chaîne vide

// Mixin pour générer chaque classe et l'ajouter à $safelist
@mixin generate-class-names {
    @each $ref-color in $ref-colors {
        @each $ref-prop in $ref-props {
            @each $weight in $weights {
                $safelist: #{$safelist} "#{$ref-prop}-#{$ref-color}-#{$weight}";
            }
            // Ajouter la classe sans poids (équivalent au poids 500)
            $safelist: #{$safelist} "#{$ref-prop}-#{$ref-color}";
        }
    }
}

// Exécuter le mixin pour remplir $safelist
@include generate-class-names;

// Supprimer la dernière virgule
$safelist: str-slice($safelist, 1, str-length($safelist) - 2);

// Génération dans le fichier CSS principal
@safelist {
    content: #{$safelist};
}
