@import "./reset.css";
@import "tailwindcss";
@import "./custom.css";

@theme {
  /* INJECTION_THEME_VARS_START */
  /* INJECTION_THEME_VARS_END */

  --color-content-light: var(--color-slate-100);
  --color-content-dark: var(--color-slate-900);
  --color-title-light: var(--color-slate-50);
  --color-title-dark: var(--color-slate-950);
  --color-subtitle-light: var(--color-slate-200);
  --color-subtitle-dark: var(--color-slate-800);
  --color-comment-light: var(--color-slate-300);
  --color-comment-dark: var(--color-slate-700);
}

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: false;
    prefersdark: false;
    color-scheme: "light";

      /* Variables de contenu */
        --color-content: var(--color-content-dark);
          --color-title: var(--color-title-dark);
          --color-subtitle: var(--color-subtitle-dark);
          --color-comment: var(--color-comment-dark);

  /* Variables de base */
    --color-base-100: var(--color-slate-100);
      --color-base-200: var(--color-slate-200);
      --color-base-300: var(--color-slate-300);
      --color-base-content: var(--color-content-dark);
      --color-primary: var(--color-blue-500);
      --color-primary-content: var(--color-content-dark);
      --color-secondary: var(--color-amber-500);
      --color-secondary-content: var(--color-content-dark);
      --color-accent: var(--color-indigo-500);
      --color-accent-content: var(--color-content-dark);
      --color-neutral: var(--color-gray-500);
      --color-neutral-content: var(--color-content-dark);
      --color-info: var(--color-sky-500);
      --color-info-content: var(--color-content-dark);
      --color-success: var(--color-emerald-500);
      --color-success-content: var(--color-content-dark);
      --color-warning: var(--color-orange-500);
      --color-warning-content: var(--color-content-dark);
      --color-error: var(--color-red-500);
      --color-error-content: var(--color-content-dark);
  /* Variables de style */
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  /* Variables de contenu */
  --color-content: var(--color-content-light);
    --color-title: var(--color-title-light);
    --color-subtitle: var(--color-subtitle-light);
    --color-comment: var(--color-comment-light);

  /* Variables de base */
  --color-base-100: var(--color-slate-900);
    --color-base-200: var(--color-slate-800);
    --color-base-300: var(--color-slate-700);
    --color-base-content: var(--color-content-light);
    --color-primary: var(--color-blue-400);
    --color-primary-content: var(--color-content-light);
    --color-secondary: var(--color-amber-400);
    --color-secondary-content: var(--color-content-light);
    --color-accent: var(--color-indigo-400);
    --color-accent-content: var(--color-content-light);
    --color-neutral: var(--color-gray-400);
    --color-neutral-content: var(--color-content-light);
    --color-info: var(--color-sky-400);
    --color-info-content: var(--color-content-light);
    --color-success: var(--color-emerald-400);
    --color-success-content: var(--color-content-light);
    --color-warning: var(--color-orange-400);
    --color-warning-content: var(--color-content-light);
    --color-error: var(--color-red-400);
    --color-error-content: var(--color-content-light);

  /* Variables de style */
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}