@layer base {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;
    padding-block: 0;
  }
  html,
  body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
}
@layer components {
  .align-items-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .align-items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .align-items-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .align-items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  * {
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
  }
  .typography {
    font-size: var(--text-base);
    color: var(--color-gray-700);
    font-family: "Albert Sans", sans-serif;
  }
  .Albert-Sans {
    font-family: "Albert Sans", sans-serif;
  }
  .Albert-Sans-thin, .Albert-Sans-100 {
    font-weight: 100;
  }
  .Albert-Sans-light, .Albert-Sans-300 {
    font-weight: 300;
  }
  .Albert-Sans-regular, .Albert-Sans-400 {
    font-weight: 400;
  }
  .Albert-Sans-bold, .Albert-Sans-700 {
    font-weight: 700;
  }
  .Albert-Sans-black, .Albert-Sans-900 {
    font-weight: 900;
  }
  .prose {
    max-width: 100ch;
  }
  .w-fit-available {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
  .h-fit-available {
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
  }
  .border-glass {
    -webkit-box-shadow: 0 0 0.5px 0.5px rgba(255, 255, 255, 0.25), 0 0 1.5px 2px rgba(255, 255, 255, 0.05), 0 0 2.5px 3px rgba(255, 255, 255, 0.025), inset 0 0 1.5px 2px rgba(255, 255, 255, 0.05), inset 0 0 2.5px 3px rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0.5px 0.5px rgba(255, 255, 255, 0.25), 0 0 1.5px 2px rgba(255, 255, 255, 0.05), 0 0 2.5px 3px rgba(255, 255, 255, 0.025), inset 0 0 1.5px 2px rgba(255, 255, 255, 0.05), inset 0 0 2.5px 3px rgba(255, 255, 255, 0.025);
  }
  .border-glass-xs {
    -webkit-box-shadow: 0 0 0.25px 0.25px rgba(255, 255, 255, 0.25), 0 0 0.75px 1px rgba(255, 255, 255, 0.05), 0 0 1.25px 1.5px rgba(255, 255, 255, 0.025), inset 0 0 0.75px 1px rgba(255, 255, 255, 0.05), inset 0 0 1.25px 1.5px rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0.25px 0.25px rgba(255, 255, 255, 0.25), 0 0 0.75px 1px rgba(255, 255, 255, 0.05), 0 0 1.25px 1.5px rgba(255, 255, 255, 0.025), inset 0 0 0.75px 1px rgba(255, 255, 255, 0.05), inset 0 0 1.25px 1.5px rgba(255, 255, 255, 0.025);
  }
  .border-glass-sm {
    -webkit-box-shadow: 0 0 0.375px 0.375px rgba(255, 255, 255, 0.25), 0 0 1px 1.5px rgba(255, 255, 255, 0.05), 0 0 1.75px 2.25px rgba(255, 255, 255, 0.025), inset 0 0 1px 1.5px rgba(255, 255, 255, 0.05), inset 0 0 1.75px 2.25px rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0.375px 0.375px rgba(255, 255, 255, 0.25), 0 0 1px 1.5px rgba(255, 255, 255, 0.05), 0 0 1.75px 2.25px rgba(255, 255, 255, 0.025), inset 0 0 1px 1.5px rgba(255, 255, 255, 0.05), inset 0 0 1.75px 2.25px rgba(255, 255, 255, 0.025);
  }
  .border-glass-md {
    -webkit-box-shadow: 0 0 0.5px 0.5px rgba(255, 255, 255, 0.25), 0 0 1.5px 2px rgba(255, 255, 255, 0.05), 0 0 2.5px 3px rgba(255, 255, 255, 0.025), inset 0 0 1.5px 2px rgba(255, 255, 255, 0.05), inset 0 0 2.5px 3px rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0.5px 0.5px rgba(255, 255, 255, 0.25), 0 0 1.5px 2px rgba(255, 255, 255, 0.05), 0 0 2.5px 3px rgba(255, 255, 255, 0.025), inset 0 0 1.5px 2px rgba(255, 255, 255, 0.05), inset 0 0 2.5px 3px rgba(255, 255, 255, 0.025);
  }
  .border-glass-lg {
    -webkit-box-shadow: 0 0 0.75px 0.75px rgba(255, 255, 255, 0.25), 0 0 2.25px 3px rgba(255, 255, 255, 0.05), 0 0 3.75px 4.5px rgba(255, 255, 255, 0.025), inset 0 0 2.25px 3px rgba(255, 255, 255, 0.05), inset 0 0 3.75px 4.5px rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0.75px 0.75px rgba(255, 255, 255, 0.25), 0 0 2.25px 3px rgba(255, 255, 255, 0.05), 0 0 3.75px 4.5px rgba(255, 255, 255, 0.025), inset 0 0 2.25px 3px rgba(255, 255, 255, 0.05), inset 0 0 3.75px 4.5px rgba(255, 255, 255, 0.025);
  }
  .border-glass-xl {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.25), 0 0 3px 4px rgba(255, 255, 255, 0.05), 0 0 5px 6px rgba(255, 255, 255, 0.025), inset 0 0 3px 4px rgba(255, 255, 255, 0.05), inset 0 0 5px 6px rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.25), 0 0 3px 4px rgba(255, 255, 255, 0.05), 0 0 5px 6px rgba(255, 255, 255, 0.025), inset 0 0 3px 4px rgba(255, 255, 255, 0.05), inset 0 0 5px 6px rgba(255, 255, 255, 0.025);
  }
  .border-glass-2xl {
    -webkit-box-shadow: 0 0 1.5px 1.5px rgba(255, 255, 255, 0.25), 0 0 4.5px 6px rgba(255, 255, 255, 0.05), 0 0 7.5px 9px rgba(255, 255, 255, 0.025), inset 0 0 4.5px 6px rgba(255, 255, 255, 0.05), inset 0 0 7.5px 9px rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 1.5px 1.5px rgba(255, 255, 255, 0.25), 0 0 4.5px 6px rgba(255, 255, 255, 0.05), 0 0 7.5px 9px rgba(255, 255, 255, 0.025), inset 0 0 4.5px 6px rgba(255, 255, 255, 0.05), inset 0 0 7.5px 9px rgba(255, 255, 255, 0.025);
  }
  .border-glass-3xl {
    -webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25), 0 0 6px 8px rgba(255, 255, 255, 0.05), 0 0 10px 12px rgba(255, 255, 255, 0.025), inset 0 0 6px 8px rgba(255, 255, 255, 0.05), inset 0 0 10px 12px rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25), 0 0 6px 8px rgba(255, 255, 255, 0.05), 0 0 10px 12px rgba(255, 255, 255, 0.025), inset 0 0 6px 8px rgba(255, 255, 255, 0.05), inset 0 0 10px 12px rgba(255, 255, 255, 0.025);
  }
  .bg-glass-xs {
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.025);
  }
  .bg-glass-sm {
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.035);
  }
  .bg-glass-md {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.05);
  }
  .bg-glass-lg {
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.065);
  }
  .bg-glass-xl {
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.075);
  }
  .bg-glass-2xl {
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.09);
  }
  .bg-glass-3xl {
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.1);
  }
  .text-glass-xs {
    text-shadow: 0 0 0.25px 0.25px rgba(255, 255, 255, 0.25), 0 0 0.75px 1px rgba(255, 255, 255, 0.05), 0 0 1.25px 1.5px rgba(255, 255, 255, 0.025);
  }
  .text-glass-sm {
    text-shadow: 0 0 0.375px 0.375px rgba(255, 255, 255, 0.25), 0 0 1px 1.5px rgba(255, 255, 255, 0.05), 0 0 1.75px 2.25px rgba(255, 255, 255, 0.025);
  }
  .text-glass-md {
    text-shadow: 0 0 0.5px 0.5px rgba(255, 255, 255, 0.25), 0 0 1.5px 2px rgba(255, 255, 255, 0.05), 0 0 2.5px 3px rgba(255, 255, 255, 0.025);
  }
  .text-glass-lg {
    text-shadow: 0 0 0.75px 0.75px rgba(255, 255, 255, 0.25), 0 0 2.25px 3px rgba(255, 255, 255, 0.05), 0 0 3.75px 4.5px rgba(255, 255, 255, 0.025);
  }
  .text-glass-xl {
    text-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.25), 0 0 3px 4px rgba(255, 255, 255, 0.05), 0 0 5px 6px rgba(255, 255, 255, 0.025);
  }
  .text-glass-2xl {
    text-shadow: 0 0 1.5px 1.5px rgba(255, 255, 255, 0.25), 0 0 4.5px 6px rgba(255, 255, 255, 0.05), 0 0 7.5px 9px rgba(255, 255, 255, 0.025);
  }
  .text-glass-3xl {
    text-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25), 0 0 6px 8px rgba(255, 255, 255, 0.05), 0 0 10px 12px rgba(255, 255, 255, 0.025);
  }
  .bg-blur-1 {
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
  }
  .bg-blur-2 {
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .bg-blur-3 {
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  .bg-blur-4 {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  .bg-blur-5 {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .bg-blur-6 {
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  .bg-blur-7 {
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
  }
  .bg-blur-8 {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  .bg-blur-9 {
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
  }
  .bg-blur-10 {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .box-shadow-xs {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 0 2px 1px rgba(255, 255, 255, 0.05), 0 0 3px 3px rgba(255, 255, 255, 0.01), inset 0 0 2px 1px rgba(255, 255, 255, 0.05), inset 0 0 3px 3px rgba(255, 255, 255, 0.01);
            box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 0 2px 1px rgba(255, 255, 255, 0.05), 0 0 3px 3px rgba(255, 255, 255, 0.01), inset 0 0 2px 1px rgba(255, 255, 255, 0.05), inset 0 0 3px 3px rgba(255, 255, 255, 0.01);
  }
  .box-shadow-sm {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.1), 0 0 3px 3px rgba(255, 255, 255, 0.05), inset 0 0 2px 1px rgba(255, 255, 255, 0.1), inset 0 0 3px 3px rgba(255, 255, 255, 0.05);
            box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.1), 0 0 3px 3px rgba(255, 255, 255, 0.05), inset 0 0 2px 1px rgba(255, 255, 255, 0.1), inset 0 0 3px 3px rgba(255, 255, 255, 0.05);
  }
  .box-shadow-md {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 3px 4px rgba(255, 255, 255, 0.1), 0 0 5px 6px rgba(255, 255, 255, 0.05), inset 0 0 3px 4px rgba(255, 255, 255, 0.1), inset 0 0 5px 6px rgba(255, 255, 255, 0.05);
            box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 3px 4px rgba(255, 255, 255, 0.1), 0 0 5px 6px rgba(255, 255, 255, 0.05), inset 0 0 3px 4px rgba(255, 255, 255, 0.1), inset 0 0 5px 6px rgba(255, 255, 255, 0.05);
  }
  .box-shadow-lg {
    -webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5), 0 0 4px 4px rgba(255, 255, 255, 0.1), 0 0 6px 6px rgba(255, 255, 255, 0.05), inset 0 0 4px 4px rgba(255, 255, 255, 0.1), inset 0 0 6px 6px rgba(255, 255, 255, 0.05);
            box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5), 0 0 4px 4px rgba(255, 255, 255, 0.1), 0 0 6px 6px rgba(255, 255, 255, 0.05), inset 0 0 4px 4px rgba(255, 255, 255, 0.1), inset 0 0 6px 6px rgba(255, 255, 255, 0.05);
  }
  .box-shadow-xl {
    -webkit-box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.5), 0 0 4px 6px rgba(255, 255, 255, 0.1), 0 0 6px 8px rgba(255, 255, 255, 0.05), inset 0 0 4px 6px rgba(255, 255, 255, 0.1), inset 0 0 6px 8px rgba(255, 255, 255, 0.05);
            box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.5), 0 0 4px 6px rgba(255, 255, 255, 0.1), 0 0 6px 8px rgba(255, 255, 255, 0.05), inset 0 0 4px 6px rgba(255, 255, 255, 0.1), inset 0 0 6px 8px rgba(255, 255, 255, 0.05);
  }
  .box-shadow-2xl {
    -webkit-box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.6), 0 0 4px 6px rgba(255, 255, 255, 0.2), 0 0 6px 8px rgba(255, 255, 255, 0.1), inset 0 0 4px 6px rgba(255, 255, 255, 0.2), inset 0 0 6px 8px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.6), 0 0 4px 6px rgba(255, 255, 255, 0.2), 0 0 6px 8px rgba(255, 255, 255, 0.1), inset 0 0 4px 6px rgba(255, 255, 255, 0.2), inset 0 0 6px 8px rgba(255, 255, 255, 0.1);
  }
  .box-shadow-3xl {
    -webkit-box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.7), 0 0 4px 6px rgba(255, 255, 255, 0.3), 0 0 6px 8px rgba(255, 255, 255, 0.15), inset 0 0 4px 6px rgba(255, 255, 255, 0.3), inset 0 0 6px 8px rgba(255, 255, 255, 0.15);
            box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.7), 0 0 4px 6px rgba(255, 255, 255, 0.3), 0 0 6px 8px rgba(255, 255, 255, 0.15), inset 0 0 4px 6px rgba(255, 255, 255, 0.3), inset 0 0 6px 8px rgba(255, 255, 255, 0.15);
  }
  .box-shadow-4xl {
    -webkit-box-shadow: 0 0 4px 5px rgba(255, 255, 255, 0.7), 0 0 6px 8px rgba(255, 255, 255, 0.3), 0 0 8px 10px rgba(255, 255, 255, 0.15), inset 0 0 4px 5px rgba(255, 255, 255, 0.3), inset 0 0 6px 8px rgba(255, 255, 255, 0.15);
            box-shadow: 0 0 4px 5px rgba(255, 255, 255, 0.7), 0 0 6px 8px rgba(255, 255, 255, 0.3), 0 0 8px 10px rgba(255, 255, 255, 0.15), inset 0 0 4px 5px rgba(255, 255, 255, 0.3), inset 0 0 6px 8px rgba(255, 255, 255, 0.15);
  }
}