@charset "UTF-8";
@theme {
  /* -------------------------------------
     Variables statiques de votre thème actuel
  ------------------------------------- */
  --color-brown-50: #fdf8f6;
  --color-brown-100: #f2e8e5;
  --color-brown-200: #eaddd7;
  --color-brown-300: #e0cec7;
  --color-brown-400: #d2bab0;
  --color-brown-500: #bfa094;
  --color-brown-600: #a18072;
  --color-brown-700: #977669;
  --color-brown-800: #846358;
  --color-brown-900: #43302b;
  --color-brown-950: #201512;
  --color-content-light: var(--color-base-800);
  --color-content-dark: var(--color-base-200);
  --color-content: var(--color-main-dark);
  --color-title-light: var(--color-primary-800);
  --color-title-dark: var(--color-primary-200);
  --color-title: var(--color-title-dark);
  --color-subtitle-light: var(--color-secondary-800);
  --color-subtitle-dark: var(--color-secondary-200);
  --color-subtitle: var(--color-subtitle-dark);
  --color-comment-light: var(--color-base-600);
  --color-comment-dark: var(--color-base-400);
  --color-comment: var(--color-comment-dark);
  /* -------------------------------------
     Définition des maps de couleurs
  ------------------------------------- */
  /* -------------------------------------
     Définition des alias de couleurs
     Chaque alias référence une couleur définie dans $colors.
  ------------------------------------- */
  /* -------------------------------------
     Mixins pour générer les variables CSS
  ------------------------------------- */
  /* -------------------------------------
     Génération des variables pour chaque couleur
  ------------------------------------- */
  --color-primary-50: oklch(0.97 0.014 254.604);
  --color-primary-100: oklch(0.932 0.032 255.585);
  --color-primary-200: oklch(0.882 0.059 254.128);
  --color-primary-300: oklch(0.809 0.105 251.813);
  --color-primary-400: oklch(0.707 0.165 254.624);
  --color-primary-500: oklch(0.623 0.214 259.815);
  --color-primary-600: oklch(0.546 0.245 262.881);
  --color-primary-700: oklch(0.488 0.243 264.376);
  --color-primary-800: oklch(0.424 0.199 265.638);
  --color-primary-900: oklch(0.379 0.146 265.522);
  --color-primary-950: oklch(0.282 0.091 267.935);
  --color-primary: var(--color-primary-500);
  --color-secondary-50: oklch(0.985 0 0);
    --color-secondary-50: oklch(0.984 0.003 247.858);
  --color-secondary-100: oklch(0.968 0.007 247.896);
  --color-secondary-200: oklch(0.929 0.013 255.508);
  --color-secondary-300: oklch(0.869 0.022 252.894);
  --color-secondary-400: oklch(0.704 0.04 256.788);
  --color-secondary-500: oklch(0.554 0.046 257.417);
  --color-secondary-600: oklch(0.446 0.043 257.281);
  --color-secondary-700: oklch(0.372 0.044 257.287);
  --color-secondary-800: oklch(0.279 0.041 260.031);
  --color-secondary-900: oklch(0.208 0.042 265.755);
  --color-secondary-950: oklch(0.129 0.042 264.695);
  --color-secondary: var(--color-secondary-500);
  --color-base-50: oklch(0.984 0.003 247.858);
  --color-base-100: oklch(0.968 0.007 247.896);
  --color-base-200: oklch(0.929 0.013 255.508);
  --color-base-300: oklch(0.869 0.022 252.894);
  --color-base-400: oklch(0.704 0.04 256.788);
  --color-base-500: oklch(0.554 0.046 257.417);
  --color-base-600: oklch(0.446 0.043 257.281);
  --color-base-700: oklch(0.372 0.044 257.287);
  --color-base-800: oklch(0.279 0.041 260.031);
  --color-base-900: oklch(0.208 0.042 265.755);
  --color-base-950: oklch(0.129 0.042 264.695);
  --color-base: var(--color-base-500);
  --color-accent-50: oklch(0.962 0.018 272.314);
  --color-accent-100: oklch(0.93 0.034 272.788);
  --color-accent-200: oklch(0.87 0.065 274.039);
  --color-accent-300: oklch(0.785 0.115 274.713);
  --color-accent-400: oklch(0.673 0.182 276.935);
  --color-accent-500: oklch(0.585 0.233 277.117);
  --color-accent-600: oklch(0.511 0.262 276.966);
  --color-accent-700: oklch(0.457 0.24 277.023);
  --color-accent-800: oklch(0.398 0.195 277.366);
  --color-accent-900: oklch(0.359 0.144 278.697);
  --color-accent-950: oklch(0.257 0.09 281.288);
  --color-accent: var(--color-accent-500);
  --color-success-50: oklch(0.982 0.018 155.826);
  --color-success-100: oklch(0.962 0.044 156.743);
  --color-success-200: oklch(0.925 0.084 155.995);
  --color-success-300: oklch(0.871 0.15 154.449);
  --color-success-400: oklch(0.792 0.209 151.711);
  --color-success-500: oklch(0.723 0.219 149.579);
  --color-success-600: oklch(0.627 0.194 149.214);
  --color-success-700: oklch(0.527 0.154 150.069);
  --color-success-800: oklch(0.448 0.119 151.328);
  --color-success-900: oklch(0.393 0.095 152.535);
  --color-success-950: oklch(0.266 0.065 152.934);
  --color-success: var(--color-success-500);
  --color-error-50: oklch(0.971 0.013 17.38);
  --color-error-100: oklch(0.936 0.032 17.717);
  --color-error-200: oklch(0.885 0.062 18.334);
  --color-error-300: oklch(0.808 0.114 19.571);
  --color-error-400: oklch(0.704 0.191 22.216);
  --color-error-500: oklch(0.637 0.237 25.331);
  --color-error-600: oklch(0.577 0.245 27.325);
  --color-error-700: oklch(0.505 0.213 27.518);
  --color-error-800: oklch(0.444 0.177 26.899);
  --color-error-900: oklch(0.396 0.141 25.723);
  --color-error-950: oklch(0.258 0.092 26.042);
  --color-error: var(--color-error-500);
  --color-info-50: oklch(0.984 0.019 200.873);
  --color-info-100: oklch(0.956 0.045 203.388);
  --color-info-200: oklch(0.917 0.08 205.041);
  --color-info-300: oklch(0.865 0.127 207.078);
  --color-info-400: oklch(0.789 0.154 211.53);
  --color-info-500: oklch(0.715 0.143 215.221);
  --color-info-600: oklch(0.609 0.126 221.723);
  --color-info-700: oklch(0.52 0.105 223.128);
  --color-info-800: oklch(0.45 0.085 224.283);
  --color-info-900: oklch(0.398 0.07 227.392);
  --color-info-950: oklch(0.302 0.056 229.695);
  --color-info: var(--color-info-500);
  --color-warning-50: oklch(0.987 0.022 95.277);
  --color-warning-100: oklch(0.962 0.059 95.617);
  --color-warning-200: oklch(0.924 0.12 95.746);
  --color-warning-300: oklch(0.879 0.169 91.605);
  --color-warning-400: oklch(0.828 0.189 84.429);
  --color-warning-500: oklch(0.769 0.188 70.08);
  --color-warning-600: oklch(0.666 0.179 58.318);
  --color-warning-700: oklch(0.555 0.163 48.998);
  --color-warning-800: oklch(0.473 0.137 46.201);
  --color-warning-900: oklch(0.414 0.112 45.904);
  --color-warning-950: oklch(0.279 0.077 45.635);
  --color-warning: var(--color-warning-500);
  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0);
  --color-neutral: var(--color-neutral-500);
  /* -------------------------------------
     Génération des variables pour chaque alias
  ------------------------------------- */
  --color-attribute-50: var(--color-yellow-50);
  --color-attribute-100: var(--color-yellow-100);
  --color-attribute-200: var(--color-yellow-200);
  --color-attribute-300: var(--color-yellow-300);
  --color-attribute-400: var(--color-yellow-400);
  --color-attribute-500: var(--color-yellow-500);
  --color-attribute-600: var(--color-yellow-600);
  --color-attribute-700: var(--color-yellow-700);
  --color-attribute-800: var(--color-yellow-800);
  --color-attribute-900: var(--color-yellow-900);
  --color-attribute-950: var(--color-yellow-950);
  --color-attribute: var(--color-attribute-500);
  --color-campaign-50: var(--color-stone-50);
  --color-campaign-100: var(--color-stone-100);
  --color-campaign-200: var(--color-stone-200);
  --color-campaign-300: var(--color-stone-300);
  --color-campaign-400: var(--color-stone-400);
  --color-campaign-500: var(--color-stone-500);
  --color-campaign-600: var(--color-stone-600);
  --color-campaign-700: var(--color-stone-700);
  --color-campaign-800: var(--color-stone-800);
  --color-campaign-900: var(--color-stone-900);
  --color-campaign-950: var(--color-stone-950);
  --color-campaign: var(--color-campaign-500);
  --color-capitalize-50: var(--color-slate-50);
  --color-capitalize-100: var(--color-slate-100);
  --color-capitalize-200: var(--color-slate-200);
  --color-capitalize-300: var(--color-slate-300);
  --color-capitalize-400: var(--color-slate-400);
  --color-capitalize-500: var(--color-slate-500);
  --color-capitalize-600: var(--color-slate-600);
  --color-capitalize-700: var(--color-slate-700);
  --color-capitalize-800: var(--color-slate-800);
  --color-capitalize-900: var(--color-slate-900);
  --color-capitalize-950: var(--color-slate-950);
  --color-capitalize: var(--color-capitalize-500);
  --color-classe-50: var(--color-cyan-50);
  --color-classe-100: var(--color-cyan-100);
  --color-classe-200: var(--color-cyan-200);
  --color-classe-300: var(--color-cyan-300);
  --color-classe-400: var(--color-cyan-400);
  --color-classe-500: var(--color-cyan-500);
  --color-classe-600: var(--color-cyan-600);
  --color-classe-700: var(--color-cyan-700);
  --color-classe-800: var(--color-cyan-800);
  --color-classe-900: var(--color-cyan-900);
  --color-classe-950: var(--color-cyan-950);
  --color-classe: var(--color-classe-500);
  --color-condition-50: var(--color-red-50);
  --color-condition-100: var(--color-red-100);
  --color-condition-200: var(--color-red-200);
  --color-condition-300: var(--color-red-300);
  --color-condition-400: var(--color-red-400);
  --color-condition-500: var(--color-red-500);
  --color-condition-600: var(--color-red-600);
  --color-condition-700: var(--color-red-700);
  --color-condition-800: var(--color-red-800);
  --color-condition-900: var(--color-red-900);
  --color-condition-950: var(--color-red-950);
  --color-condition: var(--color-condition-500);
  --color-consumable-50: var(--color-orange-50);
  --color-consumable-100: var(--color-orange-100);
  --color-consumable-200: var(--color-orange-200);
  --color-consumable-300: var(--color-orange-300);
  --color-consumable-400: var(--color-orange-400);
  --color-consumable-500: var(--color-orange-500);
  --color-consumable-600: var(--color-orange-600);
  --color-consumable-700: var(--color-orange-700);
  --color-consumable-800: var(--color-orange-800);
  --color-consumable-900: var(--color-orange-900);
  --color-consumable-950: var(--color-orange-950);
  --color-consumable: var(--color-consumable-500);
  --color-creature-50: var(--color-emerald-50);
  --color-creature-100: var(--color-emerald-100);
  --color-creature-200: var(--color-emerald-200);
  --color-creature-300: var(--color-emerald-300);
  --color-creature-400: var(--color-emerald-400);
  --color-creature-500: var(--color-emerald-500);
  --color-creature-600: var(--color-emerald-600);
  --color-creature-700: var(--color-emerald-700);
  --color-creature-800: var(--color-emerald-800);
  --color-creature-900: var(--color-emerald-900);
  --color-creature-950: var(--color-emerald-950);
  --color-creature: var(--color-creature-500);
  --color-item-50: var(--color-indigo-50);
  --color-item-100: var(--color-indigo-100);
  --color-item-200: var(--color-indigo-200);
  --color-item-300: var(--color-indigo-300);
  --color-item-400: var(--color-indigo-400);
  --color-item-500: var(--color-indigo-500);
  --color-item-600: var(--color-indigo-600);
  --color-item-700: var(--color-indigo-700);
  --color-item-800: var(--color-indigo-800);
  --color-item-900: var(--color-indigo-900);
  --color-item-950: var(--color-indigo-950);
  --color-item: var(--color-item-500);
  --color-mob-50: var(--color-pink-50);
  --color-mob-100: var(--color-pink-100);
  --color-mob-200: var(--color-pink-200);
  --color-mob-300: var(--color-pink-300);
  --color-mob-400: var(--color-pink-400);
  --color-mob-500: var(--color-pink-500);
  --color-mob-600: var(--color-pink-600);
  --color-mob-700: var(--color-pink-700);
  --color-mob-800: var(--color-pink-800);
  --color-mob-900: var(--color-pink-900);
  --color-mob-950: var(--color-pink-950);
  --color-mob: var(--color-mob-500);
  --color-npc-50: var(--color-green-50);
  --color-npc-100: var(--color-green-100);
  --color-npc-200: var(--color-green-200);
  --color-npc-300: var(--color-green-300);
  --color-npc-400: var(--color-green-400);
  --color-npc-500: var(--color-green-500);
  --color-npc-600: var(--color-green-600);
  --color-npc-700: var(--color-green-700);
  --color-npc-800: var(--color-green-800);
  --color-npc-900: var(--color-green-900);
  --color-npc-950: var(--color-green-950);
  --color-npc: var(--color-npc-500);
  --color-resource-50: var(--color-sky-50);
  --color-resource-100: var(--color-sky-100);
  --color-resource-200: var(--color-sky-200);
  --color-resource-300: var(--color-sky-300);
  --color-resource-400: var(--color-sky-400);
  --color-resource-500: var(--color-sky-500);
  --color-resource-600: var(--color-sky-600);
  --color-resource-700: var(--color-sky-700);
  --color-resource-800: var(--color-sky-800);
  --color-resource-900: var(--color-sky-900);
  --color-resource-950: var(--color-sky-950);
  --color-resource: var(--color-resource-500);
  --color-scenario-50: var(--color-neutral-50);
  --color-scenario-100: var(--color-neutral-100);
  --color-scenario-200: var(--color-neutral-200);
  --color-scenario-300: var(--color-neutral-300);
  --color-scenario-400: var(--color-neutral-400);
  --color-scenario-500: var(--color-neutral-500);
  --color-scenario-600: var(--color-neutral-600);
  --color-scenario-700: var(--color-neutral-700);
  --color-scenario-800: var(--color-neutral-800);
  --color-scenario-900: var(--color-neutral-900);
  --color-scenario-950: var(--color-neutral-950);
  --color-scenario: var(--color-scenario-500);
  --color-shop-50: var(--color-amber-50);
  --color-shop-100: var(--color-amber-100);
  --color-shop-200: var(--color-amber-200);
  --color-shop-300: var(--color-amber-300);
  --color-shop-400: var(--color-amber-400);
  --color-shop-500: var(--color-amber-500);
  --color-shop-600: var(--color-amber-600);
  --color-shop-700: var(--color-amber-700);
  --color-shop-800: var(--color-amber-800);
  --color-shop-900: var(--color-amber-900);
  --color-shop-950: var(--color-amber-950);
  --color-shop: var(--color-shop-500);
  --color-specialization-50: var(--color-lime-50);
  --color-specialization-100: var(--color-lime-100);
  --color-specialization-200: var(--color-lime-200);
  --color-specialization-300: var(--color-lime-300);
  --color-specialization-400: var(--color-lime-400);
  --color-specialization-500: var(--color-lime-500);
  --color-specialization-600: var(--color-lime-600);
  --color-specialization-700: var(--color-lime-700);
  --color-specialization-800: var(--color-lime-800);
  --color-specialization-900: var(--color-lime-900);
  --color-specialization-950: var(--color-lime-950);
  --color-specialization: var(--color-specialization-500);
  --color-spell-50: var(--color-violet-50);
  --color-spell-100: var(--color-violet-100);
  --color-spell-200: var(--color-violet-200);
  --color-spell-300: var(--color-violet-300);
  --color-spell-400: var(--color-violet-400);
  --color-spell-500: var(--color-violet-500);
  --color-spell-600: var(--color-violet-600);
  --color-spell-700: var(--color-violet-700);
  --color-spell-800: var(--color-violet-800);
  --color-spell-900: var(--color-violet-900);
  --color-spell-950: var(--color-violet-950);
  --color-spell: var(--color-spell-500);
  --color-user-50: var(--color-blue-50);
  --color-user-100: var(--color-blue-100);
  --color-user-200: var(--color-blue-200);
  --color-user-300: var(--color-blue-300);
  --color-user-400: var(--color-blue-400);
  --color-user-500: var(--color-blue-500);
  --color-user-600: var(--color-blue-600);
  --color-user-700: var(--color-blue-700);
  --color-user-800: var(--color-blue-800);
  --color-user-900: var(--color-blue-900);
  --color-user-950: var(--color-blue-950);
  --color-user: var(--color-user-500);
  --color-page-50: var(--color-zinc-50);
  --color-page-100: var(--color-zinc-100);
  --color-page-200: var(--color-zinc-200);
  --color-page-300: var(--color-zinc-300);
  --color-page-400: var(--color-zinc-400);
  --color-page-500: var(--color-zinc-500);
  --color-page-600: var(--color-zinc-600);
  --color-page-700: var(--color-zinc-700);
  --color-page-800: var(--color-zinc-800);
  --color-page-900: var(--color-zinc-900);
  --color-page-950: var(--color-zinc-950);
  --color-page: var(--color-page-500);
  --color-section-50: var(--color-zinc-50);
  --color-section-100: var(--color-zinc-100);
  --color-section-200: var(--color-zinc-200);
  --color-section-300: var(--color-zinc-300);
  --color-section-400: var(--color-zinc-400);
  --color-section-500: var(--color-zinc-500);
  --color-section-600: var(--color-zinc-600);
  --color-section-700: var(--color-zinc-700);
  --color-section-800: var(--color-zinc-800);
  --color-section-900: var(--color-zinc-900);
  --color-section-950: var(--color-zinc-950);
  --color-section: var(--color-section-500);
  --color-force-50: var(--color-brown-50);
  --color-force-100: var(--color-brown-100);
  --color-force-200: var(--color-brown-200);
  --color-force-300: var(--color-brown-300);
  --color-force-400: var(--color-brown-400);
  --color-force-500: var(--color-brown-500);
  --color-force-600: var(--color-brown-600);
  --color-force-700: var(--color-brown-700);
  --color-force-800: var(--color-brown-800);
  --color-force-900: var(--color-brown-900);
  --color-force-950: var(--color-brown-950);
  --color-force: var(--color-force-500);
  --color-strong-50: var(--color-brown-50);
  --color-strong-100: var(--color-brown-100);
  --color-strong-200: var(--color-brown-200);
  --color-strong-300: var(--color-brown-300);
  --color-strong-400: var(--color-brown-400);
  --color-strong-500: var(--color-brown-500);
  --color-strong-600: var(--color-brown-600);
  --color-strong-700: var(--color-brown-700);
  --color-strong-800: var(--color-brown-800);
  --color-strong-900: var(--color-brown-900);
  --color-strong-950: var(--color-brown-950);
  --color-strong: var(--color-strong-500);
  --color-terre-50: var(--color-brown-50);
  --color-terre-100: var(--color-brown-100);
  --color-terre-200: var(--color-brown-200);
  --color-terre-300: var(--color-brown-300);
  --color-terre-400: var(--color-brown-400);
  --color-terre-500: var(--color-brown-500);
  --color-terre-600: var(--color-brown-600);
  --color-terre-700: var(--color-brown-700);
  --color-terre-800: var(--color-brown-800);
  --color-terre-900: var(--color-brown-900);
  --color-terre-950: var(--color-brown-950);
  --color-terre: var(--color-terre-500);
  --color-intel-50: var(--color-red-50);
  --color-intel-100: var(--color-red-100);
  --color-intel-200: var(--color-red-200);
  --color-intel-300: var(--color-red-300);
  --color-intel-400: var(--color-red-400);
  --color-intel-500: var(--color-red-500);
  --color-intel-600: var(--color-red-600);
  --color-intel-700: var(--color-red-700);
  --color-intel-800: var(--color-red-800);
  --color-intel-900: var(--color-red-900);
  --color-intel-950: var(--color-red-950);
  --color-intel: var(--color-intel-500);
  --color-feu-50: var(--color-red-50);
  --color-feu-100: var(--color-red-100);
  --color-feu-200: var(--color-red-200);
  --color-feu-300: var(--color-red-300);
  --color-feu-400: var(--color-red-400);
  --color-feu-500: var(--color-red-500);
  --color-feu-600: var(--color-red-600);
  --color-feu-700: var(--color-red-700);
  --color-feu-800: var(--color-red-800);
  --color-feu-900: var(--color-red-900);
  --color-feu-950: var(--color-red-950);
  --color-feu: var(--color-feu-500);
  --color-agi-50: var(--color-green-50);
  --color-agi-100: var(--color-green-100);
  --color-agi-200: var(--color-green-200);
  --color-agi-300: var(--color-green-300);
  --color-agi-400: var(--color-green-400);
  --color-agi-500: var(--color-green-500);
  --color-agi-600: var(--color-green-600);
  --color-agi-700: var(--color-green-700);
  --color-agi-800: var(--color-green-800);
  --color-agi-900: var(--color-green-900);
  --color-agi-950: var(--color-green-950);
  --color-agi: var(--color-agi-500);
  --color-air-50: var(--color-green-50);
  --color-air-100: var(--color-green-100);
  --color-air-200: var(--color-green-200);
  --color-air-300: var(--color-green-300);
  --color-air-400: var(--color-green-400);
  --color-air-500: var(--color-green-500);
  --color-air-600: var(--color-green-600);
  --color-air-700: var(--color-green-700);
  --color-air-800: var(--color-green-800);
  --color-air-900: var(--color-green-900);
  --color-air-950: var(--color-green-950);
  --color-air: var(--color-air-500);
  --color-chance-50: var(--color-blue-50);
  --color-chance-100: var(--color-blue-100);
  --color-chance-200: var(--color-blue-200);
  --color-chance-300: var(--color-blue-300);
  --color-chance-400: var(--color-blue-400);
  --color-chance-500: var(--color-blue-500);
  --color-chance-600: var(--color-blue-600);
  --color-chance-700: var(--color-blue-700);
  --color-chance-800: var(--color-blue-800);
  --color-chance-900: var(--color-blue-900);
  --color-chance-950: var(--color-blue-950);
  --color-chance: var(--color-chance-500);
  --color-eau-50: var(--color-blue-50);
  --color-eau-100: var(--color-blue-100);
  --color-eau-200: var(--color-blue-200);
  --color-eau-300: var(--color-blue-300);
  --color-eau-400: var(--color-blue-400);
  --color-eau-500: var(--color-blue-500);
  --color-eau-600: var(--color-blue-600);
  --color-eau-700: var(--color-blue-700);
  --color-eau-800: var(--color-blue-800);
  --color-eau-900: var(--color-blue-900);
  --color-eau-950: var(--color-blue-950);
  --color-eau: var(--color-eau-500);
  --color-vitality-50: var(--color-amber-50);
  --color-vitality-100: var(--color-amber-100);
  --color-vitality-200: var(--color-amber-200);
  --color-vitality-300: var(--color-amber-300);
  --color-vitality-400: var(--color-amber-400);
  --color-vitality-500: var(--color-amber-500);
  --color-vitality-600: var(--color-amber-600);
  --color-vitality-700: var(--color-amber-700);
  --color-vitality-800: var(--color-amber-800);
  --color-vitality-900: var(--color-amber-900);
  --color-vitality-950: var(--color-amber-950);
  --color-vitality: var(--color-vitality-500);
  --color-sagesse-50: var(--color-violet-50);
  --color-sagesse-100: var(--color-violet-100);
  --color-sagesse-200: var(--color-violet-200);
  --color-sagesse-300: var(--color-violet-300);
  --color-sagesse-400: var(--color-violet-400);
  --color-sagesse-500: var(--color-violet-500);
  --color-sagesse-600: var(--color-violet-600);
  --color-sagesse-700: var(--color-violet-700);
  --color-sagesse-800: var(--color-violet-800);
  --color-sagesse-900: var(--color-violet-900);
  --color-sagesse-950: var(--color-violet-950);
  --color-sagesse: var(--color-sagesse-500);
  --color-life-50: var(--color-lime-50);
  --color-life-100: var(--color-lime-100);
  --color-life-200: var(--color-lime-200);
  --color-life-300: var(--color-lime-300);
  --color-life-400: var(--color-lime-400);
  --color-life-500: var(--color-lime-500);
  --color-life-600: var(--color-lime-600);
  --color-life-700: var(--color-lime-700);
  --color-life-800: var(--color-lime-800);
  --color-life-900: var(--color-lime-900);
  --color-life-950: var(--color-lime-950);
  --color-life: var(--color-life-500);
  --color-level-50: var(--color-zinc-50);
  --color-level-100: var(--color-zinc-100);
  --color-level-200: var(--color-zinc-200);
  --color-level-300: var(--color-zinc-300);
  --color-level-400: var(--color-zinc-400);
  --color-level-500: var(--color-zinc-500);
  --color-level-600: var(--color-zinc-600);
  --color-level-700: var(--color-zinc-700);
  --color-level-800: var(--color-zinc-800);
  --color-level-900: var(--color-zinc-900);
  --color-level-950: var(--color-zinc-950);
  --color-level: var(--color-level-500);
  --color-master_bonus-50: var(--color-orange-50);
  --color-master_bonus-100: var(--color-orange-100);
  --color-master_bonus-200: var(--color-orange-200);
  --color-master_bonus-300: var(--color-orange-300);
  --color-master_bonus-400: var(--color-orange-400);
  --color-master_bonus-500: var(--color-orange-500);
  --color-master_bonus-600: var(--color-orange-600);
  --color-master_bonus-700: var(--color-orange-700);
  --color-master_bonus-800: var(--color-orange-800);
  --color-master_bonus-900: var(--color-orange-900);
  --color-master_bonus-950: var(--color-orange-950);
  --color-master_bonus: var(--color-master_bonus-500);
  --color-time_before_use_again-50: var(--color-slate-50);
  --color-time_before_use_again-100: var(--color-slate-100);
  --color-time_before_use_again-200: var(--color-slate-200);
  --color-time_before_use_again-300: var(--color-slate-300);
  --color-time_before_use_again-400: var(--color-slate-400);
  --color-time_before_use_again-500: var(--color-slate-500);
  --color-time_before_use_again-600: var(--color-slate-600);
  --color-time_before_use_again-700: var(--color-slate-700);
  --color-time_before_use_again-800: var(--color-slate-800);
  --color-time_before_use_again-900: var(--color-slate-900);
  --color-time_before_use_again-950: var(--color-slate-950);
  --color-time_before_use_again: var(--color-time_before_use_again-500);
  --color-casting_time-50: var(--color-gray-50);
  --color-casting_time-100: var(--color-gray-100);
  --color-casting_time-200: var(--color-gray-200);
  --color-casting_time-300: var(--color-gray-300);
  --color-casting_time-400: var(--color-gray-400);
  --color-casting_time-500: var(--color-gray-500);
  --color-casting_time-600: var(--color-gray-600);
  --color-casting_time-700: var(--color-gray-700);
  --color-casting_time-800: var(--color-gray-800);
  --color-casting_time-900: var(--color-gray-900);
  --color-casting_time-950: var(--color-gray-950);
  --color-casting_time: var(--color-casting_time-500);
  --color-dodge_pa-50: var(--color-sky-50);
  --color-dodge_pa-100: var(--color-sky-100);
  --color-dodge_pa-200: var(--color-sky-200);
  --color-dodge_pa-300: var(--color-sky-300);
  --color-dodge_pa-400: var(--color-sky-400);
  --color-dodge_pa-500: var(--color-sky-500);
  --color-dodge_pa-600: var(--color-sky-600);
  --color-dodge_pa-700: var(--color-sky-700);
  --color-dodge_pa-800: var(--color-sky-800);
  --color-dodge_pa-900: var(--color-sky-900);
  --color-dodge_pa-950: var(--color-sky-950);
  --color-dodge_pa: var(--color-dodge_pa-500);
  --color-dodge_pm-50: var(--color-emerald-50);
  --color-dodge_pm-100: var(--color-emerald-100);
  --color-dodge_pm-200: var(--color-emerald-200);
  --color-dodge_pm-300: var(--color-emerald-300);
  --color-dodge_pm-400: var(--color-emerald-400);
  --color-dodge_pm-500: var(--color-emerald-500);
  --color-dodge_pm-600: var(--color-emerald-600);
  --color-dodge_pm-700: var(--color-emerald-700);
  --color-dodge_pm-800: var(--color-emerald-800);
  --color-dodge_pm-900: var(--color-emerald-900);
  --color-dodge_pm-950: var(--color-emerald-950);
  --color-dodge_pm: var(--color-dodge_pm-500);
  --color-po-50: var(--color-cyan-50);
  --color-po-100: var(--color-cyan-100);
  --color-po-200: var(--color-cyan-200);
  --color-po-300: var(--color-cyan-300);
  --color-po-400: var(--color-cyan-400);
  --color-po-500: var(--color-cyan-500);
  --color-po-600: var(--color-cyan-600);
  --color-po-700: var(--color-cyan-700);
  --color-po-800: var(--color-cyan-800);
  --color-po-900: var(--color-cyan-900);
  --color-po-950: var(--color-cyan-950);
  --color-po: var(--color-po-500);
  --color-po-editable-50: var(--color-purple-50);
  --color-po-editable-100: var(--color-purple-100);
  --color-po-editable-200: var(--color-purple-200);
  --color-po-editable-300: var(--color-purple-300);
  --color-po-editable-400: var(--color-purple-400);
  --color-po-editable-500: var(--color-purple-500);
  --color-po-editable-600: var(--color-purple-600);
  --color-po-editable-700: var(--color-purple-700);
  --color-po-editable-800: var(--color-purple-800);
  --color-po-editable-900: var(--color-purple-900);
  --color-po-editable-950: var(--color-purple-950);
  --color-po-editable: var(--color-po-editable-500);
  --color-pa-50: var(--color-blue-50);
  --color-pa-100: var(--color-blue-100);
  --color-pa-200: var(--color-blue-200);
  --color-pa-300: var(--color-blue-300);
  --color-pa-400: var(--color-blue-400);
  --color-pa-500: var(--color-blue-500);
  --color-pa-600: var(--color-blue-600);
  --color-pa-700: var(--color-blue-700);
  --color-pa-800: var(--color-blue-800);
  --color-pa-900: var(--color-blue-900);
  --color-pa-950: var(--color-blue-950);
  --color-pa: var(--color-pa-500);
  --color-pm-50: var(--color-green-50);
  --color-pm-100: var(--color-green-100);
  --color-pm-200: var(--color-green-200);
  --color-pm-300: var(--color-green-300);
  --color-pm-400: var(--color-green-400);
  --color-pm-500: var(--color-green-500);
  --color-pm-600: var(--color-green-600);
  --color-pm-700: var(--color-green-700);
  --color-pm-800: var(--color-green-800);
  --color-pm-900: var(--color-green-900);
  --color-pm-950: var(--color-green-950);
  --color-pm: var(--color-pm-500);
  --color-cc-50: var(--color-purple-50);
  --color-cc-100: var(--color-purple-100);
  --color-cc-200: var(--color-purple-200);
  --color-cc-300: var(--color-purple-300);
  --color-cc-400: var(--color-purple-400);
  --color-cc-500: var(--color-purple-500);
  --color-cc-600: var(--color-purple-600);
  --color-cc-700: var(--color-purple-700);
  --color-cc-800: var(--color-purple-800);
  --color-cc-900: var(--color-purple-900);
  --color-cc-950: var(--color-purple-950);
  --color-cc: var(--color-cc-500);
  --color-res_cc-50: var(--color-purple-50);
  --color-res_cc-100: var(--color-purple-100);
  --color-res_cc-200: var(--color-purple-200);
  --color-res_cc-300: var(--color-purple-300);
  --color-res_cc-400: var(--color-purple-400);
  --color-res_cc-500: var(--color-purple-500);
  --color-res_cc-600: var(--color-purple-600);
  --color-res_cc-700: var(--color-purple-700);
  --color-res_cc-800: var(--color-purple-800);
  --color-res_cc-900: var(--color-purple-900);
  --color-res_cc-950: var(--color-purple-950);
  --color-res_cc: var(--color-res_cc-500);
  --color-cast-per-turn-50: var(--color-purple-50);
  --color-cast-per-turn-100: var(--color-purple-100);
  --color-cast-per-turn-200: var(--color-purple-200);
  --color-cast-per-turn-300: var(--color-purple-300);
  --color-cast-per-turn-400: var(--color-purple-400);
  --color-cast-per-turn-500: var(--color-purple-500);
  --color-cast-per-turn-600: var(--color-purple-600);
  --color-cast-per-turn-700: var(--color-purple-700);
  --color-cast-per-turn-800: var(--color-purple-800);
  --color-cast-per-turn-900: var(--color-purple-900);
  --color-cast-per-turn-950: var(--color-purple-950);
  --color-cast-per-turn: var(--color-cast-per-turn-500);
  --color-cast-per-target-50: var(--color-indigo-50);
  --color-cast-per-target-100: var(--color-indigo-100);
  --color-cast-per-target-200: var(--color-indigo-200);
  --color-cast-per-target-300: var(--color-indigo-300);
  --color-cast-per-target-400: var(--color-indigo-400);
  --color-cast-per-target-500: var(--color-indigo-500);
  --color-cast-per-target-600: var(--color-indigo-600);
  --color-cast-per-target-700: var(--color-indigo-700);
  --color-cast-per-target-800: var(--color-indigo-800);
  --color-cast-per-target-900: var(--color-indigo-900);
  --color-cast-per-target-950: var(--color-indigo-950);
  --color-cast-per-target: var(--color-cast-per-target-500);
  --color-sight-line-50: var(--color-indigo-50);
  --color-sight-line-100: var(--color-indigo-100);
  --color-sight-line-200: var(--color-indigo-200);
  --color-sight-line-300: var(--color-indigo-300);
  --color-sight-line-400: var(--color-indigo-400);
  --color-sight-line-500: var(--color-indigo-500);
  --color-sight-line-600: var(--color-indigo-600);
  --color-sight-line-700: var(--color-indigo-700);
  --color-sight-line-800: var(--color-indigo-800);
  --color-sight-line-900: var(--color-indigo-900);
  --color-sight-line-950: var(--color-indigo-950);
  --color-sight-line: var(--color-sight-line-500);
  --color-number-between-two-cast-50: var(--color-pink-50);
  --color-number-between-two-cast-100: var(--color-pink-100);
  --color-number-between-two-cast-200: var(--color-pink-200);
  --color-number-between-two-cast-300: var(--color-pink-300);
  --color-number-between-two-cast-400: var(--color-pink-400);
  --color-number-between-two-cast-500: var(--color-pink-500);
  --color-number-between-two-cast-600: var(--color-pink-600);
  --color-number-between-two-cast-700: var(--color-pink-700);
  --color-number-between-two-cast-800: var(--color-pink-800);
  --color-number-between-two-cast-900: var(--color-pink-900);
  --color-number-between-two-cast-950: var(--color-pink-950);
  --color-number-between-two-cast: var(--color-number-between-two-cast-500);
  --color-ini-50: var(--color-violet-50);
  --color-ini-100: var(--color-violet-100);
  --color-ini-200: var(--color-violet-200);
  --color-ini-300: var(--color-violet-300);
  --color-ini-400: var(--color-violet-400);
  --color-ini-500: var(--color-violet-500);
  --color-ini-600: var(--color-violet-600);
  --color-ini-700: var(--color-violet-700);
  --color-ini-800: var(--color-violet-800);
  --color-ini-900: var(--color-violet-900);
  --color-ini-950: var(--color-violet-950);
  --color-ini: var(--color-ini-500);
  --color-invocation-50: var(--color-amber-50);
  --color-invocation-100: var(--color-amber-100);
  --color-invocation-200: var(--color-amber-200);
  --color-invocation-300: var(--color-amber-300);
  --color-invocation-400: var(--color-amber-400);
  --color-invocation-500: var(--color-amber-500);
  --color-invocation-600: var(--color-amber-600);
  --color-invocation-700: var(--color-amber-700);
  --color-invocation-800: var(--color-amber-800);
  --color-invocation-900: var(--color-amber-900);
  --color-invocation-950: var(--color-amber-950);
  --color-invocation: var(--color-invocation-500);
  --color-touch-50: var(--color-gray-50);
  --color-touch-100: var(--color-gray-100);
  --color-touch-200: var(--color-gray-200);
  --color-touch-300: var(--color-gray-300);
  --color-touch-400: var(--color-gray-400);
  --color-touch-500: var(--color-gray-500);
  --color-touch-600: var(--color-gray-600);
  --color-touch-700: var(--color-gray-700);
  --color-touch-800: var(--color-gray-800);
  --color-touch-900: var(--color-gray-900);
  --color-touch-950: var(--color-gray-950);
  --color-touch: var(--color-touch-500);
  --color-actif-50: var(--color-amber-50);
  --color-actif-100: var(--color-amber-100);
  --color-actif-200: var(--color-amber-200);
  --color-actif-300: var(--color-amber-300);
  --color-actif-400: var(--color-amber-400);
  --color-actif-500: var(--color-amber-500);
  --color-actif-600: var(--color-amber-600);
  --color-actif-700: var(--color-amber-700);
  --color-actif-800: var(--color-amber-800);
  --color-actif-900: var(--color-amber-900);
  --color-actif-950: var(--color-amber-950);
  --color-actif: var(--color-actif-500);
  --color-twohands-50: var(--color-gray-50);
  --color-twohands-100: var(--color-gray-100);
  --color-twohands-200: var(--color-gray-200);
  --color-twohands-300: var(--color-gray-300);
  --color-twohands-400: var(--color-gray-400);
  --color-twohands-500: var(--color-gray-500);
  --color-twohands-600: var(--color-gray-600);
  --color-twohands-700: var(--color-gray-700);
  --color-twohands-800: var(--color-gray-800);
  --color-twohands-900: var(--color-gray-900);
  --color-twohands-950: var(--color-gray-950);
  --color-twohands: var(--color-twohands-500);
  --color-kamas-50: var(--color-yellow-50);
  --color-kamas-100: var(--color-yellow-100);
  --color-kamas-200: var(--color-yellow-200);
  --color-kamas-300: var(--color-yellow-300);
  --color-kamas-400: var(--color-yellow-400);
  --color-kamas-500: var(--color-yellow-500);
  --color-kamas-600: var(--color-yellow-600);
  --color-kamas-700: var(--color-yellow-700);
  --color-kamas-800: var(--color-yellow-800);
  --color-kamas-900: var(--color-yellow-900);
  --color-kamas-950: var(--color-yellow-950);
  --color-kamas: var(--color-kamas-500);
  --color-ca-50: var(--color-gray-50);
  --color-ca-100: var(--color-gray-100);
  --color-ca-200: var(--color-gray-200);
  --color-ca-300: var(--color-gray-300);
  --color-ca-400: var(--color-gray-400);
  --color-ca-500: var(--color-gray-500);
  --color-ca-600: var(--color-gray-600);
  --color-ca-700: var(--color-gray-700);
  --color-ca-800: var(--color-gray-800);
  --color-ca-900: var(--color-gray-900);
  --color-ca-950: var(--color-gray-950);
  --color-ca: var(--color-ca-500);
  --color-fuite-50: var(--color-lime-50);
  --color-fuite-100: var(--color-lime-100);
  --color-fuite-200: var(--color-lime-200);
  --color-fuite-300: var(--color-lime-300);
  --color-fuite-400: var(--color-lime-400);
  --color-fuite-500: var(--color-lime-500);
  --color-fuite-600: var(--color-lime-600);
  --color-fuite-700: var(--color-lime-700);
  --color-fuite-800: var(--color-lime-800);
  --color-fuite-900: var(--color-lime-900);
  --color-fuite-950: var(--color-lime-950);
  --color-fuite: var(--color-fuite-500);
  --color-tacle-50: var(--color-sky-50);
  --color-tacle-100: var(--color-sky-100);
  --color-tacle-200: var(--color-sky-200);
  --color-tacle-300: var(--color-sky-300);
  --color-tacle-400: var(--color-sky-400);
  --color-tacle-500: var(--color-sky-500);
  --color-tacle-600: var(--color-sky-600);
  --color-tacle-700: var(--color-sky-700);
  --color-tacle-800: var(--color-sky-800);
  --color-tacle-900: var(--color-sky-900);
  --color-tacle-950: var(--color-sky-950);
  --color-tacle: var(--color-tacle-500);
  --color-neutre-50: var(--color-neutral-50);
  --color-neutre-100: var(--color-neutral-100);
  --color-neutre-200: var(--color-neutral-200);
  --color-neutre-300: var(--color-neutral-300);
  --color-neutre-400: var(--color-neutral-400);
  --color-neutre-500: var(--color-neutral-500);
  --color-neutre-600: var(--color-neutral-600);
  --color-neutre-700: var(--color-neutral-700);
  --color-neutre-800: var(--color-neutral-800);
  --color-neutre-900: var(--color-neutral-900);
  --color-neutre-950: var(--color-neutral-950);
  --color-neutre: var(--color-neutre-500);
  --color-shield-50: var(--color-neutral-50);
  --color-shield-100: var(--color-neutral-100);
  --color-shield-200: var(--color-neutral-200);
  --color-shield-300: var(--color-neutral-300);
  --color-shield-400: var(--color-neutral-400);
  --color-shield-500: var(--color-neutral-500);
  --color-shield-600: var(--color-neutral-600);
  --color-shield-700: var(--color-neutral-700);
  --color-shield-800: var(--color-neutral-800);
  --color-shield-900: var(--color-neutral-900);
  --color-shield-950: var(--color-neutral-950);
  --color-shield: var(--color-shield-500);
  --color-mastery-50: var(--color-teal-50);
  --color-mastery-100: var(--color-teal-100);
  --color-mastery-200: var(--color-teal-200);
  --color-mastery-300: var(--color-teal-300);
  --color-mastery-400: var(--color-teal-400);
  --color-mastery-500: var(--color-teal-500);
  --color-mastery-600: var(--color-teal-600);
  --color-mastery-700: var(--color-teal-700);
  --color-mastery-800: var(--color-teal-800);
  --color-mastery-900: var(--color-teal-900);
  --color-mastery-950: var(--color-teal-950);
  --color-mastery: var(--color-mastery-500);
  --color-expertise-50: var(--color-rose-50);
  --color-expertise-100: var(--color-rose-100);
  --color-expertise-200: var(--color-rose-200);
  --color-expertise-300: var(--color-rose-300);
  --color-expertise-400: var(--color-rose-400);
  --color-expertise-500: var(--color-rose-500);
  --color-expertise-600: var(--color-rose-600);
  --color-expertise-700: var(--color-rose-700);
  --color-expertise-800: var(--color-rose-800);
  --color-expertise-900: var(--color-rose-900);
  --color-expertise-950: var(--color-rose-950);
  --color-expertise: var(--color-expertise-500);
  --color-res-neutre-50: var(--color-neutral-50);
  --color-res-neutre-100: var(--color-neutral-100);
  --color-res-neutre-200: var(--color-neutral-200);
  --color-res-neutre-300: var(--color-neutral-300);
  --color-res-neutre-400: var(--color-neutral-400);
  --color-res-neutre-500: var(--color-neutral-500);
  --color-res-neutre-600: var(--color-neutral-600);
  --color-res-neutre-700: var(--color-neutral-700);
  --color-res-neutre-800: var(--color-neutral-800);
  --color-res-neutre-900: var(--color-neutral-900);
  --color-res-neutre-950: var(--color-neutral-950);
  --color-res-neutre: var(--color-res-neutre-500);
  --color-res-terre-50: var(--color-brown-50);
  --color-res-terre-100: var(--color-brown-100);
  --color-res-terre-200: var(--color-brown-200);
  --color-res-terre-300: var(--color-brown-300);
  --color-res-terre-400: var(--color-brown-400);
  --color-res-terre-500: var(--color-brown-500);
  --color-res-terre-600: var(--color-brown-600);
  --color-res-terre-700: var(--color-brown-700);
  --color-res-terre-800: var(--color-brown-800);
  --color-res-terre-900: var(--color-brown-900);
  --color-res-terre-950: var(--color-brown-950);
  --color-res-terre: var(--color-res-terre-500);
  --color-res-air-50: var(--color-green-50);
  --color-res-air-100: var(--color-green-100);
  --color-res-air-200: var(--color-green-200);
  --color-res-air-300: var(--color-green-300);
  --color-res-air-400: var(--color-green-400);
  --color-res-air-500: var(--color-green-500);
  --color-res-air-600: var(--color-green-600);
  --color-res-air-700: var(--color-green-700);
  --color-res-air-800: var(--color-green-800);
  --color-res-air-900: var(--color-green-900);
  --color-res-air-950: var(--color-green-950);
  --color-res-air: var(--color-res-air-500);
  --color-res-feu-50: var(--color-red-50);
  --color-res-feu-100: var(--color-red-100);
  --color-res-feu-200: var(--color-red-200);
  --color-res-feu-300: var(--color-red-300);
  --color-res-feu-400: var(--color-red-400);
  --color-res-feu-500: var(--color-red-500);
  --color-res-feu-600: var(--color-red-600);
  --color-res-feu-700: var(--color-red-700);
  --color-res-feu-800: var(--color-red-800);
  --color-res-feu-900: var(--color-red-900);
  --color-res-feu-950: var(--color-red-950);
  --color-res-feu: var(--color-res-feu-500);
  --color-res-eau-50: var(--color-blue-50);
  --color-res-eau-100: var(--color-blue-100);
  --color-res-eau-200: var(--color-blue-200);
  --color-res-eau-300: var(--color-blue-300);
  --color-res-eau-400: var(--color-blue-400);
  --color-res-eau-500: var(--color-blue-500);
  --color-res-eau-600: var(--color-blue-600);
  --color-res-eau-700: var(--color-blue-700);
  --color-res-eau-800: var(--color-blue-800);
  --color-res-eau-900: var(--color-blue-900);
  --color-res-eau-950: var(--color-blue-950);
  --color-res-eau: var(--color-res-eau-500);
}
