/*! THEME_VARS_START */
:root {
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);
  --color-secondary-50: var(--color-sky-50);
  --color-secondary-100: var(--color-sky-100);
  --color-secondary-200: var(--color-sky-200);
  --color-secondary-300: var(--color-sky-300);
  --color-secondary-400: var(--color-sky-400);
  --color-secondary-500: var(--color-sky-500);
  --color-secondary-600: var(--color-sky-600);
  --color-secondary-700: var(--color-sky-700);
  --color-secondary-800: var(--color-sky-800);
  --color-secondary-900: var(--color-sky-900);
  --color-secondary-950: var(--color-sky-950);
  --color-accent-50: var(--color-indigo-50);
  --color-accent-100: var(--color-indigo-100);
  --color-accent-200: var(--color-indigo-200);
  --color-accent-300: var(--color-indigo-300);
  --color-accent-400: var(--color-indigo-400);
  --color-accent-500: var(--color-indigo-500);
  --color-accent-600: var(--color-indigo-600);
  --color-accent-700: var(--color-indigo-700);
  --color-accent-800: var(--color-indigo-800);
  --color-accent-900: var(--color-indigo-900);
  --color-accent-950: var(--color-indigo-950);
  --color-neutral-50: var(--color-slate-50);
  --color-neutral-100: var(--color-slate-100);
  --color-neutral-200: var(--color-slate-200);
  --color-neutral-300: var(--color-slate-300);
  --color-neutral-400: var(--color-slate-400);
  --color-neutral-500: var(--color-slate-500);
  --color-neutral-600: var(--color-slate-600);
  --color-neutral-700: var(--color-slate-700);
  --color-neutral-800: var(--color-slate-800);
  --color-neutral-900: var(--color-slate-900);
  --color-neutral-950: var(--color-slate-950);
  --color-info-50: var(--color-cyan-50);
  --color-info-100: var(--color-cyan-100);
  --color-info-200: var(--color-cyan-200);
  --color-info-300: var(--color-cyan-300);
  --color-info-400: var(--color-cyan-400);
  --color-info-500: var(--color-cyan-500);
  --color-info-600: var(--color-cyan-600);
  --color-info-700: var(--color-cyan-700);
  --color-info-800: var(--color-cyan-800);
  --color-info-900: var(--color-cyan-900);
  --color-info-950: var(--color-cyan-950);
  --color-success-50: var(--color-emerald-50);
  --color-success-100: var(--color-emerald-100);
  --color-success-200: var(--color-emerald-200);
  --color-success-300: var(--color-emerald-300);
  --color-success-400: var(--color-emerald-400);
  --color-success-500: var(--color-emerald-500);
  --color-success-600: var(--color-emerald-600);
  --color-success-700: var(--color-emerald-700);
  --color-success-800: var(--color-emerald-800);
  --color-success-900: var(--color-emerald-900);
  --color-success-950: var(--color-emerald-950);
  --color-warning-50: var(--color-teal-50);
  --color-warning-100: var(--color-teal-100);
  --color-warning-200: var(--color-teal-200);
  --color-warning-300: var(--color-teal-300);
  --color-warning-400: var(--color-teal-400);
  --color-warning-500: var(--color-teal-500);
  --color-warning-600: var(--color-teal-600);
  --color-warning-700: var(--color-teal-700);
  --color-warning-800: var(--color-teal-800);
  --color-warning-900: var(--color-teal-900);
  --color-warning-950: var(--color-teal-950);
  --color-error-50: var(--color-red-50);
  --color-error-100: var(--color-red-100);
  --color-error-200: var(--color-red-200);
  --color-error-300: var(--color-red-300);
  --color-error-400: var(--color-red-400);
  --color-error-500: var(--color-red-500);
  --color-error-600: var(--color-red-600);
  --color-error-700: var(--color-red-700);
  --color-error-800: var(--color-red-800);
  --color-error-900: var(--color-red-900);
  --color-error-950: var(--color-red-950);
  --color-base-50: var(--color-slate-50);
  --color-base-100: var(--color-slate-100);
  --color-base-200: var(--color-slate-200);
  --color-base-300: var(--color-slate-300);
  --color-base-400: var(--color-slate-400);
  --color-base-500: var(--color-slate-500);
  --color-base-600: var(--color-slate-600);
  --color-base-700: var(--color-slate-700);
  --color-base-800: var(--color-slate-800);
  --color-base-900: var(--color-slate-900);
  --color-base-950: var(--color-slate-950);
  --color-section-50: var(--color-zinc-50);
  --color-section-100: var(--color-zinc-100);
  --color-section-200: var(--color-zinc-200);
  --color-section-300: var(--color-zinc-300);
  --color-section-400: var(--color-zinc-400);
  --color-section-500: var(--color-zinc-500);
  --color-section-600: var(--color-zinc-600);
  --color-section-700: var(--color-zinc-700);
  --color-section-800: var(--color-zinc-800);
  --color-section-900: var(--color-zinc-900);
  --color-section-950: var(--color-zinc-950);
  --color-page-50: var(--color-zinc-50);
  --color-page-100: var(--color-zinc-100);
  --color-page-200: var(--color-zinc-200);
  --color-page-300: var(--color-zinc-300);
  --color-page-400: var(--color-zinc-400);
  --color-page-500: var(--color-zinc-500);
  --color-page-600: var(--color-zinc-600);
  --color-page-700: var(--color-zinc-700);
  --color-page-800: var(--color-zinc-800);
  --color-page-900: var(--color-zinc-900);
  --color-page-950: var(--color-zinc-950);
  --color-npc-50: var(--color-green-50);
  --color-npc-100: var(--color-green-100);
  --color-npc-200: var(--color-green-200);
  --color-npc-300: var(--color-green-300);
  --color-npc-400: var(--color-green-400);
  --color-npc-500: var(--color-green-500);
  --color-npc-600: var(--color-green-600);
  --color-npc-700: var(--color-green-700);
  --color-npc-800: var(--color-green-800);
  --color-npc-900: var(--color-green-900);
  --color-npc-950: var(--color-green-950);
  --color-item-50: var(--color-indigo-50);
  --color-item-100: var(--color-indigo-100);
  --color-item-200: var(--color-indigo-200);
  --color-item-300: var(--color-indigo-300);
  --color-item-400: var(--color-indigo-400);
  --color-item-500: var(--color-indigo-500);
  --color-item-600: var(--color-indigo-600);
  --color-item-700: var(--color-indigo-700);
  --color-item-800: var(--color-indigo-800);
  --color-item-900: var(--color-indigo-900);
  --color-item-950: var(--color-indigo-950);
  --color-creature-50: var(--color-emerald-50);
  --color-creature-100: var(--color-emerald-100);
  --color-creature-200: var(--color-emerald-200);
  --color-creature-300: var(--color-emerald-300);
  --color-creature-400: var(--color-emerald-400);
  --color-creature-500: var(--color-emerald-500);
  --color-creature-600: var(--color-emerald-600);
  --color-creature-700: var(--color-emerald-700);
  --color-creature-800: var(--color-emerald-800);
  --color-creature-900: var(--color-emerald-900);
  --color-creature-950: var(--color-emerald-950);
  --color-shop-50: var(--color-amber-50);
  --color-shop-100: var(--color-amber-100);
  --color-shop-200: var(--color-amber-200);
  --color-shop-300: var(--color-amber-300);
  --color-shop-400: var(--color-amber-400);
  --color-shop-500: var(--color-amber-500);
  --color-shop-600: var(--color-amber-600);
  --color-shop-700: var(--color-amber-700);
  --color-shop-800: var(--color-amber-800);
  --color-shop-900: var(--color-amber-900);
  --color-shop-950: var(--color-amber-950);
  --color-campaign-50: var(--color-stone-50);
  --color-campaign-100: var(--color-stone-100);
  --color-campaign-200: var(--color-stone-200);
  --color-campaign-300: var(--color-stone-300);
  --color-campaign-400: var(--color-stone-400);
  --color-campaign-500: var(--color-stone-500);
  --color-campaign-600: var(--color-stone-600);
  --color-campaign-700: var(--color-stone-700);
  --color-campaign-800: var(--color-stone-800);
  --color-campaign-900: var(--color-stone-900);
  --color-campaign-950: var(--color-stone-950);
  --color-resource-50: var(--color-sky-50);
  --color-resource-100: var(--color-sky-100);
  --color-resource-200: var(--color-sky-200);
  --color-resource-300: var(--color-sky-300);
  --color-resource-400: var(--color-sky-400);
  --color-resource-500: var(--color-sky-500);
  --color-resource-600: var(--color-sky-600);
  --color-resource-700: var(--color-sky-700);
  --color-resource-800: var(--color-sky-800);
  --color-resource-900: var(--color-sky-900);
  --color-resource-950: var(--color-sky-950);
  --color-mob-50: var(--color-pink-50);
  --color-mob-100: var(--color-pink-100);
  --color-mob-200: var(--color-pink-200);
  --color-mob-300: var(--color-pink-300);
  --color-mob-400: var(--color-pink-400);
  --color-mob-500: var(--color-pink-500);
  --color-mob-600: var(--color-pink-600);
  --color-mob-700: var(--color-pink-700);
  --color-mob-800: var(--color-pink-800);
  --color-mob-900: var(--color-pink-900);
  --color-mob-950: var(--color-pink-950);
  --color-specialization-50: var(--color-lime-50);
  --color-specialization-100: var(--color-lime-100);
  --color-specialization-200: var(--color-lime-200);
  --color-specialization-300: var(--color-lime-300);
  --color-specialization-400: var(--color-lime-400);
  --color-specialization-500: var(--color-lime-500);
  --color-specialization-600: var(--color-lime-600);
  --color-specialization-700: var(--color-lime-700);
  --color-specialization-800: var(--color-lime-800);
  --color-specialization-900: var(--color-lime-900);
  --color-specialization-950: var(--color-lime-950);
  --color-spell-50: var(--color-violet-50);
  --color-spell-100: var(--color-violet-100);
  --color-spell-200: var(--color-violet-200);
  --color-spell-300: var(--color-violet-300);
  --color-spell-400: var(--color-violet-400);
  --color-spell-500: var(--color-violet-500);
  --color-spell-600: var(--color-violet-600);
  --color-spell-700: var(--color-violet-700);
  --color-spell-800: var(--color-violet-800);
  --color-spell-900: var(--color-violet-900);
  --color-spell-950: var(--color-violet-950);
  --color-user-50: var(--color-blue-50);
  --color-user-100: var(--color-blue-100);
  --color-user-200: var(--color-blue-200);
  --color-user-300: var(--color-blue-300);
  --color-user-400: var(--color-blue-400);
  --color-user-500: var(--color-blue-500);
  --color-user-600: var(--color-blue-600);
  --color-user-700: var(--color-blue-700);
  --color-user-800: var(--color-blue-800);
  --color-user-900: var(--color-blue-900);
  --color-user-950: var(--color-blue-950);
  --color-attribute-50: var(--color-yellow-50);
  --color-attribute-100: var(--color-yellow-100);
  --color-attribute-200: var(--color-yellow-200);
  --color-attribute-300: var(--color-yellow-300);
  --color-attribute-400: var(--color-yellow-400);
  --color-attribute-500: var(--color-yellow-500);
  --color-attribute-600: var(--color-yellow-600);
  --color-attribute-700: var(--color-yellow-700);
  --color-attribute-800: var(--color-yellow-800);
  --color-attribute-900: var(--color-yellow-900);
  --color-attribute-950: var(--color-yellow-950);
  --color-capitalize-50: var(--color-slate-50);
  --color-capitalize-100: var(--color-slate-100);
  --color-capitalize-200: var(--color-slate-200);
  --color-capitalize-300: var(--color-slate-300);
  --color-capitalize-400: var(--color-slate-400);
  --color-capitalize-500: var(--color-slate-500);
  --color-capitalize-600: var(--color-slate-600);
  --color-capitalize-700: var(--color-slate-700);
  --color-capitalize-800: var(--color-slate-800);
  --color-capitalize-900: var(--color-slate-900);
  --color-capitalize-950: var(--color-slate-950);
  --color-classe-50: var(--color-cyan-50);
  --color-classe-100: var(--color-cyan-100);
  --color-classe-200: var(--color-cyan-200);
  --color-classe-300: var(--color-cyan-300);
  --color-classe-400: var(--color-cyan-400);
  --color-classe-500: var(--color-cyan-500);
  --color-classe-600: var(--color-cyan-600);
  --color-classe-700: var(--color-cyan-700);
  --color-classe-800: var(--color-cyan-800);
  --color-classe-900: var(--color-cyan-900);
  --color-classe-950: var(--color-cyan-950);
  --color-consumable-50: var(--color-orange-50);
  --color-consumable-100: var(--color-orange-100);
  --color-consumable-200: var(--color-orange-200);
  --color-consumable-300: var(--color-orange-300);
  --color-consumable-400: var(--color-orange-400);
  --color-consumable-500: var(--color-orange-500);
  --color-consumable-600: var(--color-orange-600);
  --color-consumable-700: var(--color-orange-700);
  --color-consumable-800: var(--color-orange-800);
  --color-consumable-900: var(--color-orange-900);
  --color-consumable-950: var(--color-orange-950);
  --color-scenario-50: var(--color-neutral-50);
  --color-scenario-100: var(--color-neutral-100);
  --color-scenario-200: var(--color-neutral-200);
  --color-scenario-300: var(--color-neutral-300);
  --color-scenario-400: var(--color-neutral-400);
  --color-scenario-500: var(--color-neutral-500);
  --color-scenario-600: var(--color-neutral-600);
  --color-scenario-700: var(--color-neutral-700);
  --color-scenario-800: var(--color-neutral-800);
  --color-scenario-900: var(--color-neutral-900);
  --color-scenario-950: var(--color-neutral-950);
  --color-condition-50: var(--color-red-50);
  --color-condition-100: var(--color-red-100);
  --color-condition-200: var(--color-red-200);
  --color-condition-300: var(--color-red-300);
  --color-condition-400: var(--color-red-400);
  --color-condition-500: var(--color-red-500);
  --color-condition-600: var(--color-red-600);
  --color-condition-700: var(--color-red-700);
  --color-condition-800: var(--color-red-800);
  --color-condition-900: var(--color-red-900);
  --color-condition-950: var(--color-red-950);
}

/*! THEME_VARS_END */
